<div class="registercontainer">
  <form (ngSubmit) = "register(user)" #registerform = "ngForm" class="registerform">
    <div>
      <mat-form-field class="form" appearance="fill" >
        <mat-label >prenom</mat-label>
        <input matInput [(ngModel)]="user.prenom" required name="prenom" maxlength="24">
        
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form" appearance="fill">
        <mat-label>nom</mat-label>
        <input matInput  [(ngModel)]="user.nom" required name="nom" maxlength="24">
        
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form" >
        <mat-label>Address</mat-label>
        <textarea matInput  [(ngModel)]="user.address" required name="address" maxlength="100"></textarea>
        
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="form" appearance="fill">
        <mat-label>code postal</mat-label>
        <input matInput  #zipcode="ngModel" [(ngModel)]="user.zipcode" required name="zipcode" maxlength="5" pattern="^((\d{5}-\d{4})|(\d{5})|([A-Z]\d[A-Z]\s\d[A-Z]\d))$">
        <small class="text-danger" *ngIf="zipcode?.errors?.pattern">entrez un code postal valide</small>
      </mat-form-field>
      </div>
      <div>
    </div>
    <div>
      <mat-form-field class="form" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" #email="ngModel" [(ngModel)]="user.email" required name="email" maxlength="50" pattern="^[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*@[a-zA-Z0-9]+(?:\.[a-zA-Z0-9]+)*$">
        <small class="text-danger" *ngIf="email?.errors?.pattern">entrez une adresse email valide</small>
      </mat-form-field>
    </div>
    <div>
    <mat-form-field class="form" appearance="fill">
      <mat-label>mot de passe</mat-label>
      <input matInput #password = "ngModel"[(ngModel)]="user.password"required type="password" name="password" maxlength="50" (keyup) = passValidation() minlength="8"> 
    </mat-form-field>
    
  </div>
  <ul>
  <li [ngClass]="eightValidate?'green': 'red'">votre mot de passe doit faire au moins 8 caractères</li>
    <li [ngClass]="specValidate?'green': 'red'">votre mot de passe doit contenir un caractère spécial</li>
    <li [ngClass]="minValidate?'green': 'red'" >votre mot de passe doit contenir une minuscule</li>
    <li [ngClass]="majValidate?'green': 'red'">votre mot de passe doit contenir une majuscule</li>
  </ul>
  <div>
  <mat-form-field class="form" appearance="fill">
    <mat-label>confirmation du mot de passe</mat-label>
    <input matInput  [(ngModel)]="user.confirmPassword" required name="passwordConfirm" type = "password" maxlength="50" (keyup) = 'confirmPassword()' (keyup)="passValidation()">
    <small *ngIf="!passConfirmed">vous devez confirmer votre mot de passe</small>
  </mat-form-field>
</div>
<div class="registerbuttons">
  <button type="submit" value="submit" [disabled]="((!registerReady) || (!registerform.valid))? true:false" class="cta confirmbutton">confirm</button>
  <a [routerLink] = "['../']"><mat-icon class="clickableicons">replay</mat-icon></a>
</div>
</form>
</div>


