<nav id="menuneuf" *ngIf = "display === 1">
    <div [className]="'menu'">
        <div *ngFor="let el of menuNeuf" >
            <button mat-button id="menubutton" [matMenuTriggerFor]="menu">{{el.marque}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item ><a [routerLink]="['/consolesn', el.marque]" routerLinkActive="active" >consoles</a></button>
                <button mat-menu-item ><a [routerLink]="['/jeuxn', el.marque]" routerLinkActive="active" >jeux</a></button>
                <button mat-menu-item ><a [routerLink]="['/accessoiresn', el.marque]" routerLinkActive="active" >accessoires</a></button>
            </mat-menu>
        </div>
    </div>
</nav>
<nav id="menuoccase" *ngIf = "display === 2">
    <div [className]="'menuOccase'">
        <div *ngFor="let el of menuNeuf" >
            <button mat-button  id="menubutton" [matMenuTriggerFor]="menu">{{el.marque}}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item><a [routerLink]="['/consoleso', el.marque]" routerLinkActive="active" >consoles</a></button>
                <button mat-menu-item><a [routerLink]="['/jeuxo', el.marque]" routerLinkActive="active" >jeux</a></button>
                <button mat-menu-item><a [routerLink]="['/accessoireso', el.marque]" routerLinkActive="active" >accessoires</a></button>
            </mat-menu>
        </div>
    </div>
</nav>