<div [className]="'container'" >
    <div [className]="'card transition'" *ngFor = "let el of renderGameList" >
      <div>
        <h2 class="transition">{{el.nom}}<br></h2>
        <div class="cta-container transition"></div>
        <div class="card_circle transition" [ngStyle]="{'background-image': 'url(' + el.image +')'}"><button mat-button (click) ="popUp(el.image,el.nom,el.description)" class="cta transition modalBtn" color="primary">details</button></div>
      </div>
      <div class="popup" *ngIf = 'toggle' [ngStyle]="{'background-image': 'url(' + image +')'}">
        <div class = "details" >
            <div class="flexbutton">
            <div class="titlecontainer">
              <h2 class="gametitle">{{name}}</h2>
            </div>
            </div>
            <mat-icon class="clickableicons addcart" (click) = add()>add_shopping_cart</mat-icon>
            <div><mat-icon (click) = "popDown()" class="clickableicons return">replay</mat-icon></div>
            <div class="gamedetailcontainer"><p class="detailsdescription" [innerHTML]="htmlDescription"></p></div>
            <div class="gamepricecontainer">
              <p class = 'gameprice'>{{prix | currency:'EUR' }}</p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <form>
    <input type="text" [(ngModel)] = "searching" placeholder="search..." [ngModelOptions]="{standalone: true}" class="searchbar">
  </form>
  <mat-button-toggle-group class="type" name="fontStyle"  #consoletype="matButtonToggleGroup" name="consoleType" *ngIf="sony" [(ngModel)] ="consolesList" multiple="true">
    <mat-button-toggle  [value]="'ps3'" (click)="getSearchGames(page)" >ps3</mat-button-toggle>
    <mat-button-toggle  [value]="'ps4'" (click)="getSearchGames(page)" >ps4</mat-button-toggle>
    <mat-button-toggle [value]="'ps5'" (click)="getSearchGames(page)" >ps5</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group class="type" name="fontStyle"#consoletype="matButtonToggleGroup" name="consoleType" *ngIf="nintendo" [(ngModel)] ="consolesList" multiple="true">
    <mat-button-toggle [value]="'switch'"  (click)="getSearchGames(page)" >switch</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group class="type" name="fontStyle"#consoletype="matButtonToggleGroup" name="consoleType" *ngIf="xbox" [(ngModel)] ="consolesList" multiple="true">
    <mat-button-toggle [value]="'xbox360'"  checked='false' (click)="getSearchGames(page)" >xbox360</mat-button-toggle>
    <mat-button-toggle  [value]="'xboxone'" checked='false'(click)="getSearchGames(page)" >xboxone</mat-button-toggle>
    <mat-button-toggle  [value]="'series'"  chacked='false'(click)="getSearchGames(page)" >series</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group class="type" name="fontStyle"  #consoletype="matButtonToggleGroup" name="consoleType" *ngIf="sonyo" [(ngModel)] ="consolesList" multiple="true">
    <mat-button-toggle  [value]="'ps'" (click)="getSearchGameso(page)" >ps</mat-button-toggle>
    <mat-button-toggle  [value]="'ps2'" (click)="getSearchGameso(page)" >ps2</mat-button-toggle>
    <mat-button-toggle [value]="'ps4'" (click)="getSearchGameso(page)" >ps3</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group class="type" name="fontStyle"#consoletype="matButtonToggleGroup" name="consoleType" *ngIf="nintendoo" [(ngModel)] ="consolesList" multiple="true">
    <mat-button-toggle [value]="'supernintendo'"  (click)="getSearchGameso(page)" >Super Nintendo</mat-button-toggle>
    <mat-button-toggle [value]="'gameboy'"  (click)="getSearchGameso(page)" >Gameboy</mat-button-toggle>
    <mat-button-toggle [value]="'nes'"  (click)="getSearchGameso(page)" >NES</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-button-toggle-group class="type" name="fontStyle"#consoletype="matButtonToggleGroup" name="consoleType" *ngIf="xboxo" [(ngModel)] ="consolesList" multiple="true">
    <mat-button-toggle [value]="'xbox'"  checked='false' (click)="getSearchGameso(page)" >xbox</mat-button-toggle>
    <mat-button-toggle  [value]="'xbox360'" checked='false'(click)="getSearchGameso(page)" >xbox360</mat-button-toggle>
    <mat-button-toggle  [value]="'xboxone'"  chacked='false'(click)="getSearchGameso(page)" >xboxone</mat-button-toggle>
  </mat-button-toggle-group>
  
  <button id="searchButton" (click)="search(searching, 1, consolesList)"><mat-icon>search</mat-icon></button>
  <div class="pagination">
    <mat-icon id="previous" (click)="goBack()">arrow_back_ios</mat-icon>
    <div>{{page}}</div>
    <mat-icon id="next" (click)="goForward()">arrow_forward_ios</mat-icon>
    
  </div>
