<div [className]="'container'" >
  <div [className]="'card transition'" *ngFor = "let el of renderAccessoires"  >
    <div>
      <h2 class="transition">{{el.marque}}<br><small>{{el.description}}</small></h2>
      <div class="cta-container transition"></div>
      <div class="card_circle transition" [ngStyle]="{'background-image': 'url(' + el.image +')'}"><button mat-button (click) ="popUp(el.image, el.description)" class="cta transition modalBtn" color="primary">details</button></div>
    </div>
    <div class="popup" *ngIf = 'toggle'>
      <div class = "details" [ngStyle]="{'background-image': 'url(' + image +')'}">
        <div><button mat-button class="cta  transition" color="primary">Ajouter au panier</button></div>
        <div><button mat-button class="ctacancel transition" color="warn" (click) = "popUp(image, description)">Annuler</button></div>
        <p>Description: {{description}}</p>
      </div>
    </div>
  </div>
</div>
        
