<section class="right" [ngClass] = "{'display': this.display === 1, 'void': this.display === 2}">
  
  <button mat-raised-button color="primary" class="mainButton" (click) ="unlockMenu(1)" [ngStyle]="{'display':this.display === 0 ?'block':'none'}">neuf</button>
  
</section>
<button mat-raised-button color="primary"  [className] = "'returnOccase'" (click) = "unlockMenu(2)"[ngStyle]="{'display':this.display === 1 ?'inline-block':'none'}" (click)="unlockMenu(2)">retro et occasion</button>
<section class="left" [ngClass] = "{'display': this.display === 2, 'void': this.display === 1}">
  <button mat-raised-button color="primary" class = "mainButton" (click) = "unlockMenu(2)" [ngStyle]="{'display':this.display === 0 ?'block':'none'}">retro et occasion</button>
  
</section>
<button mat-raised-button color="primary"  [className] = "'returnNew'" (click) = "unlockMenu(2)"[ngStyle]="{'display':this.display === 2 ?'inline-block':'none'}" (click)="unlockMenu(1)">neuf</button>
<app-menu [display] = display>
</app-menu>
<router-outlet></router-outlet>
