<div class="registercontainer">
    <form (ngSubmit) = "login(user)" #registerform = "ngForm" class="registerform">
      <div>
        <mat-form-field class="form" appearance="fill" >
          <mat-label >Email</mat-label>
          <input matInput [(ngModel)]="user.email" required name="prenom" >
          
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput  [(ngModel)]="user.password" required name="nom" maxlength="24"> 
        </mat-form-field>
     </div>
        <button type="submit" value="submit"  class="cta confirmbutton">confirm</button>
        <a [routerLink] = "['../']"><mat-icon class="clickableicons">replay</mat-icon></a>
    </form>
      <small [ngStyle]="{'display': wrong ? 'block': 'none'}">mot de passe incorrect</small>
</div>
